<%= form_for(@user_product) do |f| %>
  <% if @user_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_product.errors.count, "error") %> prohibited this user_product from being saved:</h2>

      <ul>
      <% @user_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Choose a Product </h1>
  <div class="field">
  	<%= f.label :product_plan_id %>
  	<%= f.collection_select :product_plan_id, Product.find(:all), :id, :name, :prompt => 'Select a Product' %>
  </div>
  <div class="field">
  	<%= f.label :start_date %>
  	<%= f.date_select :start_date %>
  </div>
  <div class="field">
  	<%= f.label :end_date %>
  	<%= f.date_select :end_date %>
  </div>


<%= form_tag 'user_products_path' %>
 <% @trackkr_modules.each do |tmodule| %>
 	<h1><%= tmodule.name %></h1>
		<% tmodule.t_categories.each do |category| %>
			<h2> <%=category.name %>  </h2>
					<% category.products.each do |product| %>
					<%= radio_button_tag "product_ids", product.id %>
					<%= product.name %>
					
					
				<% end %>
		<% end %>
 <% end %>
 <%= submit_tag "Add to Trackkr" %>
<% end %>
