<%= form_for(@user_product) do |f| %>
  <% if @user_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_product.errors.count, "error") %> prohibited this user_product from being saved:</h2>

      <ul>
      <% @user_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Choose a Product in <%= @product.name %> </h1>
  <div class="field">
  	<%=f.hidden_field :product_id , :value => params[:product_id]%>
  	<%= f.label :product_plan_id %>
  	<%= f.collection_select :product_plan_id, ProductPlan.find_all_by_product_id(params[:product_id]), :id, :product_plan_name, :prompt => 'Select a Plan' %>
  </div>
  <div><%=radio_button_tag :start_end, "start",:checked => true%> Start Date <%=radio_button_tag :start_end, "end"%> End Date</div>
  <div class="field">
  	<%= date_select :plan, :date %>
  </div>
  
  
  <%if false%>
  <div class="field">
  	<%= f.label :start_date %>
  	<%= f.date_select :start_date %>
  </div>
  <div class="field">
  	<%= f.label :end_date %>
  	<%= f.date_select :end_date %>
  </div>
<%end%>

 <%= f.submit "Add to Trackkr" %>
<% end %>
