<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_product.user_id %>
</p>

<p>
  <b>Product:</b>
  <%= @user_product.product_id %>
</p>


<%= link_to 'Edit', edit_user_product_path(@user_product) %> |
<%= link_to 'Back', user_products_path %>
