<% @user_product_plans.each do |user_product_plan| %>
  <tr>
  	<td><%= user_product_plan.id %></td>
    <td><%= user_product_plan.user_id %></td>
    <td><%= user_product_plan.product_id %></td>
    <td><%= user_product_plan.product_plan_id %></td>
    <td><%= user_product_plan.start_date %></td>
    <td><%= user_product_plan.end_date %></td>
    <td><%= link_to 'Show', user_product_plan %></td>
    <td><%= link_to 'Edit', edit_user_product_plan_path(user_product_plan) %></td>
    <td><%= button_to 'Destroy', user_product_plan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>