<%= form_for(@trackkr_module) do |f| %>
  <% if @trackkr_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trackkr_module.errors.count, "error") %> prohibited this trackkr_module from being saved:</h2>

      <ul>
      <% @trackkr_module.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image_location %><br />
    <%= f.text_field :image_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
