<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trackkr_module.name %>
</p>

<p>
  <b>Image location:</b>
  <%= @trackkr_module.image_location %>
</p>


<%= link_to 'Edit', edit_trackkr_module_path(@trackkr_module) %> |
<%= link_to 'Back', trackkr_modules_path %>
