<%= form_for(@user_product_plan_graph) do |f| %>
  <% if @user_product_plan_graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_product_plan_graph.errors.count, "error") %> prohibited this user_product_plan_graph from being saved:</h2>

      <ul>
      <% @user_product_plan_graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_product_plan_id %><br />
    <%= f.text_field :user_product_plan_id %>
  </div>

  <div class="field">
    <%= f.label :graph_id %><br>
    <% for graph in @graphs %>
		<%= f.check_box :graph_id %>
		<%= f.label graph.name %>
			  
			    <%= f.label :graph_select_type %>
			    <%= f.select :graph_select_type, ["line", "bar", "solid"] %>
  
 
    <%= f.label :graph_select_range %><br />
    <%= f.select :graph_select_range, ["1 week", "1 month", "3 months"] %><br>
	<% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
