<%= form_for(@user_product_plan_graph) do |f| %>
  <% if @user_product_plan_graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_product_plan_graph.errors.count, "error") %> prohibited this user_product_plan_graph from being saved:</h2>

      <ul>
      <% @user_product_plan_graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%=hidden_field_tag :user_product_plan_id, @user_product_plan.id%>
    <%= f.label :graph_id %><br />
    
	<div>
		<div>  List of Graph for selected category </div>
			<ul>	
				<%@graphs.each_with_index do |g,i|%>
					<li>
						<%@selected_graph=UserProductPlanGraph.find_by_user_product_plan_id_and_graph_id_and_friend_product_plan_id(@user_product_plan.id,g.id,0)%>
						<%if @selected_graph%>
							<%= g.name%>
							<%= check_box "new[p_#{i}]","graph_id",{:checked=>true},g.id%>
							<%= select "new[p_#{i}]","graph_select_type",["column","line","Pie"],{:selected=>@selected_graph.graph_select_type}%>
	 						<%= select "new[p_#{i}]", "graph_select_range", ["1 week", "1 month", "3 months"],{:selected=>@selected_graph.graph_select_range}%>
						    <%= check_box "new[p_#{i}]","friend_product_plan_id",{},{},nil%>
						<%else%>
							<%= g.name%>
							<%= check_box "new[p_#{i}]","graph_id",{},g.id%>
							<%= select "new[p_#{i}]","graph_select_type",["Bar","Line","Pie"],:prompt=>"Select the type" %>
	 						<%= select "new[p_#{i}]", "graph_select_range", ["1 week", "1 month", "3 months"] %>
	 						<%= check_box "new[p_#{i}]","friend_product_plan_id",{},{},nil %>
						<%end%>
					</li>
				<%end%>
			</ul>
		</div> 
  	</div>
  	
  	
  	
  	<!--code for friend graph section starts here-->
  	
  	
<ul>	
	<% for friendship in @friendships%>
	<li>
		<%if friendship.status =="Accepted"%>
		<%= friendship.friend.username %>
					<ul>	
				<%@graphs.each_with_index do |g,i|%>
					<li>
						<%@selected_graph=UserProductPlanGraph.find_by_user_product_plan_id_and_graph_id_and_friend_product_plan_id(@user_product_plan.id,g.id,UserProductPlan.find_by_user_id_and_product_id(User.find(friendship.friend_id), session[:product_id]).id)%>
						<%if @selected_graph%>
							<%= g.name%>
							<%= check_box "new[r_#{i}]","graph_id",{:checked=>true},g.id%>
							<%= select "new[r_#{i}]","graph_select_type",["column","line","Pie"],{:selected=>@selected_graph.graph_select_type}%>
	 						<%= select "new[r_#{i}]", "graph_select_range", ["1 week", "1 month", "3 months"],{:selected=>@selected_graph.graph_select_range}%>
	 						<%= check_box "new[r_#{i}]","friend_product_plan_id" ,{},{}, UserProductPlan.find_by_user_id_and_product_id(User.find(friendship.friend_id), session[:product_id]).id %>
						<%else%>
							<%= g.name%>
							<%= check_box "new[r_#{i}]","graph_id",{},g.id%>
							<%= select "new[r_#{i}]","graph_select_type",["Bar","Line","Pie"],:prompt=>"Select the type" %>
	 						<%= select "new[r_#{i}]", "graph_select_range", ["1 week", "1 month", "3 months"] %>
	 						<%= check_box "new[r_#{i}]","friend_product_plan_id",{},{},UserProductPlan.find_by_user_id_and_product_id(User.find(friendship.friend_id), session[:product_id]).id %>
						<%end%>
					</li>
				<%end%>
			</ul>
		<%end%>
		</li>
	<%end%>
</ul>

<% if false %>
<% if @inverse_friendships %>
  	<%for inverse_friendship in @inverse_friendships%> 
 	<li>
	<%= inverse_friendship.user.username %>
	<%=hidden_field_tag :friend_product_plan_id, inverse_friendship.user.user_product_plan.id%>
	<ul>	
				<%@graphs.each_with_index do |g,i|%>
					<li>
						<%@selected_graph=UserProductPlanGraph.find_by_user_product_plan_id_and_friend_product_plan_id_and_graph_id(@user_product_plan_id, inverse_friendship.friend_id,g.id)%>
						<%if @selected_graph%>
							<%= g.name%>
							<%= check_box "new[p_#{i}]","graph_id",{:checked=>true},g.id%>
							<%= select "new[p_#{i}]","graph_select_type",["column","line","Pie"],{:selected=>@selected_graph.graph_select_type}%>
	 						<%= select "new[p_#{i}]", "graph_select_range", ["1 week", "1 month", "3 months"],{:selected=>@selected_graph.graph_select_range}%>
						<%else%>
							<%= g.name%>
							<%= check_box "new[p_#{i}]","graph_id",{},g.id%>
							<%= select "new[p_#{i}]","graph_select_type",["Bar","Line","Pie"],:prompt=>"Select the type" %>
	 						<%= select "new[p_#{i}]", "graph_select_range", ["1 week", "1 month", "3 months"] %>
						<%end%>
					</li>
				<%end%>
			</ul>
	</li>
	<%end%>
<% end %>
<% end %>
</div>	
						
<!--code for graph secton ends here-->


  	
  	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
