Edit Individual Training

<%= form_tag update_individual_user_product_actual_datas_path, :method => :put do %>
	<% for actual_data in @user_product_actual_datas %>
		<%= fields_for "actual_datas[]", actual_data do |f| %>
			<h2><%= actual_data.actual_training_date %></h2>
			<%= render 'user_product_actual_datas/fields', :f => f %>
		<% end %>
	<% end %>
	<%= submit_tag 'Submit'%>
<% end %>