<div class="field">
    <%= f.label :user_product_id %><br />
    <%= f.text_field :user_product_id %>
  </div>
  <div class="field">
    <%= f.label :actuL_training_date %><br />
    <%= f.date_select :actual_training_date %>
  </div>
  <div class="field">
    <%= f.label :actual_distance %><br />
    <%= f.text_field :actual_distance %>
  </div>
  <div class="field">
    <%= f.label :actual_speed %><br />
    <%= f.text_field :actual_speed %>
  </div>
  <div class="field">
    <%= f.label :actual_time %><br />
    <%= f.text_field :actual_time %>
  </div>
  <div class="field">
    <%= f.label :actual_notes  %><br />
    <%= f.text_area :actual_notes, :rows => 5, :cols => 20 %>
  </div>