<tr>
	<div class="field">  
   	<td><%= f.text_field :user_product_id, :size => 3 %></td>
 	</div>
	
  	<div class="field">  
  		<td><%= f.date_select :actual_training_date, :use_month_numbers => true %></td>
    </div>
	
  	<div class="field">  
		<td> <%= f.text_field :actual_distance, :size => 3 %></td>
   	</div>
	
  	<div class="field">  
   		<td><%= f.text_field :actual_speed,:size => 3 %></td>
  	</div>
	
  	<div class="field">
     	<td><%= f.text_field :actual_time,:size => 3 %></td>
    </div>

  	<div class="field">
  		<td><%= f.text_area :actual_notes, :rows => 1, :cols => 10 %></td>
    </div>
	
</tr>
