<%= form_for(@user_product_actual_data) do |f| %>
  <% if @user_product_actual_data.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_product_actual_data.errors.count, "error") %> prohibited this user_product_actual_data from being saved:</h2>

      <ul>
      <% @user_product_actual_data.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
