<p id="notice"><%= notice %></p>

<p>
  <b>User product:</b>
  <%= @user_product_actual_data.user_product_id %>
</p>

<p>
  <b>Actul training date:</b>
  <%= @user_product_actual_data.actual_training_date %>
</p>

<p>
  <b>Actual distance:</b>
  <%= @user_product_actual_data.actual_distance %>
</p>

<p>
  <b>Actual speed:</b>
  <%= @user_product_actual_data.actual_speed %>
</p>

<p>
  <b>Actual time:</b>
  <%= @user_product_actual_data.actual_time %>
</p>

<p>
  <b>Actual notes:</b>
  <%= @user_product_actual_data.actual_notes %>
</p>

<p>
  <b>Plan distance:</b>
  <%= @user_product_actual_data.plan_distance %>
</p>

<p>
  <b>Plan speed:</b>
  <%= @user_product_actual_data.plan_speed %>
</p>

<p>
  <b>Plan time:</b>
  <%= @user_product_actual_data.plan_time %>
</p>

<p>
  <b>Plan notes:</b>
  <%= @user_product_actual_data.plan_notes %>
</p>

<%= link_to 'Edit', edit_user_product_actual_data_path(@user_product_actual_data) %> |
<%= link_to 'Back', user_product_actual_datas_path %>
