<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @article.username %>
</p>

<p>
  <b>Email:</b>
  <%= @article.email %>
</p>

<p>
  <b>Contact number:</b>
  <%= @article.contact_number %>
</p>

<p>
  <b>Reminder option:</b>
  <%= @article.reminder_option %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
