<p id="notice"><%= notice %></p>

<p>
  <b>Category ID:</b>
  <%= @graph.t_category_id %>
</p>

<p>
  <b>Name:</b>
  <%= @graph.name %>
</p>

<p>
  <b>Image</b>
  <%= @graph.image %>
</p>
<p>
  <b>Description</b>
  <%= @graph.description %>
</p>


<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
