<h1>Listing friends</h1>

<table>
  <tr>
    <th>User</th>
    <th>Friend</th>
    <th>Product</th>
	<th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @friends.each do |friend| %>
  <tr>
    <td><%= friend.user_id %></td>
    <td><%= friend.friend_id %></td>
    <td><%= friend.product_id %></td>
	<td><%= friend.status %></td>
    <td><%= link_to 'Show', friend %></td>
    <td><%= link_to 'Edit', edit_friendship_path(friend) %></td>
    <td><%= link_to 'Destroy', friend, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Friend', new_friendship_path %>
