<div id="graphs">
<script type="text/javascript" charset="utf-8">
	$(function(){
		new Highcharts.Chart({
			chart: {
				renderTo: "user_chart1",
				height: 250,
				width: 450,
				backgroundColor: '#FCFFC5',
				defaultSeriesType: '<%= @graph_select_type %>'
			},
			tooltip:{
				backgroundColor: '#008000'
			},
			legend: {
				
				backgroundColor: '#008000',
			},
			
			title: {
				text: "Distance Graph"
			},
			
			plotOptions: {
				series: {
            	allowPointSelect: true}
        	},
			credits: {
				text: "trackkr",
				href: "www.trackkr.com"
			},
      		xAxis: {
        		type: "datetime"
      		},
      		yAxis: {
        		title: {
          		text: "Distance"
        	}},
      		series: [{
	  			name: "Actual",
				pointInterval: <%= 1.day * 1000 %>,
				pointStart: <%= @graph_select_range.to_i * 1000 %>,  
	  			data: <%= (@graph_select_range.to_date..Date.today).map {|date| UserProductPlanData.user_actual_distance(date, session[:user_product_plan_id])}.inspect%>
			},
			{
	  			name: "Planned",
				pointInterval: <%= 1.day * 1000 %>,
				pointStart: <%= @graph_select_range.to_i * 1000 %>,  
				data: <%= (@graph_select_range.to_date..Date.today).map {|date| UserProductPlanData.user_plan_distance(date, session[:user_product_plan_id])}.inspect%>
		}]
      });
    });
  </script> 
 
  <div id="user_chart1" style="width:560px; height:300px;"> </div>
 </div> 
	
	



