<script type="text/javascript" charset="utf-8">
	$(function(){
		new Highcharts.Chart({
			chart: {
				renderTo: "user_chart5",
				height: 300,
				width: 500,
				backgroundColor: '##F4F4F4',
				defaultSeriesType: '<%= @graph_select_type %>'
			},
			
			title: {
				text: "Speed Graph"
			},
			
			plotOptions: {
				series: {
            	allowPointSelect: true}
        	},
			credits: {
				text: "trackkr",
				href: "www.trackkr.com"
			},
      		xAxis: {
        	type: "datetime"
      		},
      		yAxis: {
        	title: {
          	text: "Speed"
        	}},
      	series: [{
	  		name: "Actual",
			pointInterval: <%= 1.day * 1000 %>,
			pointStart: <%= @graph_select_range.to_i * 1000 %>,  
	  		data: <%= (@graph_select_range.to_date..Date.today).map {|date| UserProductPlanData.user_actual_speed(date, @user_product_plan_id)}.inspect%>
			},
			{
	  		name: "Planned",
			pointInterval: <%= 1.day * 1000 %>,
			pointStart: <%= @graph_select_range.to_i * 1000 %>,  
			data: <%= (@graph_select_range.to_date..Date.today).map {|date| UserProductPlanData.user_plan_speed(date, @user_product_plan_id)}.inspect%>
		}]
      });
    });
  </script> 
 
<div id="user_chart5" style="width:560px; height:300px;"> </div>	
	





