<script type="text/javascript" charset="utf-8">
		$(function() {
    	new Highcharts.Chart({
      	chart: {
        renderTo: "user_chart3",
		defaultSeriesType: 'column'
    	 },
      		title: {
        	text: "Distance by Day"
      		},
			credits: {
			text: "trackkr ",
			href: "www.trackkr.com"
	   		},
      		xAxis: {
        	type: "datetime"
      		},
      		yAxis: {
        	title: {
          	text: "Distance"
        	}},
      	series: [{
	  		name: "Actual",
			pointInterval: <%= 1.day * 1000 %>,
			pointStart: <%= 5.weeks.ago.to_i * 1000 %>,  
	  		data: <%= (5.weeks.ago.to_date..Date.today).map {|date| UserProductPlanData.user_actual_distance(date, @user_product_plan_id)}.inspect%>
			},
			{
	  		name: "Planned",
			pointInterval: <%= 1.day * 1000 %>,
			pointStart: <%= 5.weeks.ago.to_i * 1000 %>,  
			data: <%= (5.weeks.ago.to_date..Date.today).map {|date| UserProductPlanData.user_plan_distance(date, @user_product_plan_id)}.inspect%>
		}]
      });
    });
  </script> 
 
	
<div id="user_chart3" style="width:560px; height:300px;"> </div>	




