

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>trackkr-track your key results</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.white{
	background-color:#fff;
}
.red{
	background-color:red
}
.green{
	background-color:008000;
}
-->
</style>


<%= render 'dashboards/highchart'%>

</head>

<body>

<div id ="frd_network"> <%=link_to "Add Friend to Network",new_friend_path(:product_id=>Product.first.id),{:rel=>"facebox[.bolder]"}%></div>
<div style="height:100px;width:150px;font:12px; overflow:auto;">
	<% @friends.each do |friend|%>
	<p> User ID: <%= friend.user_id%></p>
	<p> Friend ID: <%= friend.friend_id%></p>
	<p> Status: <%= friend.status%></p>
	<%end%>
</div>	
<div> Approved Friends List on this product:</div>
<ul>
	<% @active_friends.each do |frd|%>
		<li>
		<%=frd.username%>
		</li>
	<%end%>
</ul>



<div>  <strong>List of Plans on this product:</strong></div>
<ul>
	<% @user_product_plans.each do | user_product|%>
		<li>
			<%= link_to user_product.product_plan.product_plan_name, dashboards_path(:product_plan_id => user_product.product_plan_id) %>
			<%= user_product.id%>
			
		</li>
	<%end%>
	
	<%= button_to "Add new Plan", trackkr_modules_path, :method => :get%>
	
</ul>

<div style="height:300px;width:950px;font:12px; overflow:auto;">
<%= render 'user_product_plan_datas/edit_individual'%>	
</div>
<%= button_to "Home", trackkr_modules_path, :method => :get %>	
<%= button_to "Edit Chart Setting", new_graph_plan_path(:user_product_plan_id=>@user_product_plan_id.id), :method => :get%>
<div id="user_chart"></div>
<div style="height:100px;width:300px; overflow:auto;">	
  <p><strong>GOAL:</strong></p>
	<ul>
		
		<% @user_product_plan_ids.each do |plan_detail|%>
		 <p> Product Plan ID: <%= plan_detail.id %></p> 
		 <p> Start Date: 	  <%= plan_detail.start_date%></p>	
		 <p> End Date: 	  	  <%= plan_detail.end_date%></p>	
		<%end%>
		 	
	</ul> 			
</div> 		
<div id="common">

<div class="regionhdr"> Calendar
<div id="calendar">
	<h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m")%>
		<%= h @date.strftime("%B %Y")%>
		<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m")%>
	</h2> 
<%= calendar_for @user_product_plan_datas, :year => @date.year, :month => @date.month do |calendar| %>
	<%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
	<%= calendar.day(:day_method => :training_date) do |date, user_product_plan_datas|%>
	<%data = current_user.user_product_plan_datas(session[:product_plan_id],date)%>
    <div class="<%=get_color(data)%>">
    	<%= link_to (date.day), "#{new_user_product_plan_data_path}?date=#{date}",:rel => "facebox[.bolder]" %>
	</div>
<% end %>
</div>
 <%= button_to "Big Calendar", user_product_plan_datas_path, :method => :get  %>
	<%end%>
</div>

</body>
</html>


