

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>trackkr-track your key results</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.white{
	background-color:#fff;
}
.red{
	background-color:red
}
.green{
	background-color:008000;
}
-->
</style>

   

<% @user_product_plan_graphs.each do |user_product_plan_graph| %>

	<p>User graphs ID:<%= user_product_plan_graph.graph_id%></p>
	<p>User graphs name:<%= user_product_plan_graph.graph.name%></p>
	<%= @graph_select_type = user_product_plan_graph.graph_select_type.downcase%>
	<%= @graph_select_range = user_product_plan_graph.graph_select_range%>
	
	
	<% if @graph_select_range == "1 month" %>
	<% @graph_select_range = 1.month.ago %>
	
	<% elsif @graph_select_range == "1 week" %>
	<% @graph_select_range = 1.week.ago %>
	
	<% elsif @graph_select_range == "3 month" %>
	<% @graph_select_range = 3.months.ago %>
	 <%end%>
	 
	<% if user_product_plan_graph.graph_id ==1 %>
	<%= render 'dashboards/highchart1'%>
	
	<% elsif user_product_plan_graph.graph_id ==2 %>
	<%= render 'dashboards/highchart2'%>
	
	<% elsif user_product_plan_graph.graph_id ==3 %>
	<%= render 'dashboards/highchart3'%>
	
	<% elsif user_product_plan_graph.graph_id ==4 %>
	<%= render 'dashboards/highchart4'%>
	
	<%end%>
<% end %>

</head>

<body>
	
</div>	


<div> Friends List on this product:</div>
<ul>
	
	<% for friendship in @friendships%>
	<li>
		<%if friendship.status =="Accepted"%>
		<%= link_to friendship.friend.username, users_path%>
		<%elsif friendship.status =="Pending"%>
		<%= friendship.friend.username%>
		<%elsif friendship.status =="Rejected"%>
		<%= friendship.friend.id%>
		<%end%>
		<%= link_to "Remove", friendship, :method => :delete %>
		</li>
	<%end%>
</ul>
<% if @inverse_friendships %>
  <div> Friended by Users:</div>
  <%for inverse_friendship in @inverse_friendships%>
  
 	<li>
	<%= inverse_friendship.user.username %>
	</li>
	<%end%>
<% end %>


 

<div>  <strong>List of Plans on this product:</strong></div>
<ul>
	<% @user_product_plans.each do |user_product_plan|%>
	<% if user_product_plan.id == session[:user_product_plan_id].to_i%>
		<li>
			<p><strong><font size ="4"><%= user_product_plan.product_plan.product_plan_name%></font></strong></p>
		<%else %>
			<%= link_to user_product_plan.product_plan.product_plan_name, dashboards_path(:user_product_plan_id => user_product_plan.id) %>
		</li>
	
	<%end%>
<% end %>
	<%= button_to "Add new Plan", trackkr_modules_path, :method => :get%>
	
</ul>


<%= render 'user_product_plan_datas/edit_individual'%>	
<%= button_to "Home", trackkr_modules_path, :method => :get %>	
<%= button_to "Edit Chart Setting", new_user_product_plan_graph_path, :method => :get%>
<div id="user_chart"></div>
<div style="height:100px;width:300px; overflow:auto;">	
  <p><strong>GOAL:</strong></p>
	<ul>
		<% %>
		 <p> Product Plan ID: <%= @user_product_plan.id %></p> 
		 <p> Start Date: 	  <%= @user_product_plan.start_date%></p>	
		 <p> End Date: 	  	  <%= @user_product_plan.end_date%></p>	
	</ul> 			
</div> 	
<%= button_to 'Destroy', @user_product_plan, :confirm => 'Are you sure? If you delete the product plan all your data will be lost', :method => :delete %>	
<div id="common">

<div class="regionhdr"> Calendar
<div id="calendar">
	<h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m"), :user_product_plan_id => session[:user_product_plan_id]%>
		<%= h @date.strftime("%B %Y")%>
		<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m"), :user_product_plan_id => session[:user_product_plan_id]%>
	</h2> 
<%= calendar_for @user_product_plan_datas, :year => @date.year, :month => @date.month do |calendar| %>
	<%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
	<%= calendar.day(:day_method => :training_date) do |date, user_product_plan_datas|%>
	<%data = user_product_plan_datas_row(session[:user_product_plan_id] , date)%>
    <div class="<%=get_color(data)%>">
    	<%= link_to (date.day), "#{new_user_product_plan_data_path}?date=#{date}",:rel => "facebox[.bolder]" %>
	</div>

<% end %>
</div>
 <%= link_to "Big Calendar", user_product_plan_datas_path, :method => :get  %>
	<%end%>
</div>
<div>
	<%= link_to 'Share your trackkr'%>
</div>
</body>
</html>
