<div>

<div class="regionhdr"> Calendar
<div id="big_calendar">
	<h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m"), :user_product_plan_data => session[:user_product_plan_data]%>
		<%= h @date.strftime("%B %Y")%>
		<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m"), :user_product_plan_data => session[:user_product_plan_data]%>
	</h2> 
<%= calendar_for @user_product_plan_datas, :year => @date.year, :month => @date.month do |calendar| %>
	<%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
	<%= calendar.day(:day_method => :training_date) do |date, user_product_plan_datas|%>
	<div id="big_id_2">
			<%= link_to (date.day), "#{new_user_product_plan_data_path}?date=#{date}",:rel => "facebox[.bolder]" %>	
					<% for user_product_plan_data in user_product_plan_datas%>
					<% if user_product_plan_data.actual_distance?%>
								<div> Red</div>
								<%else user_product_plan_data.plan_distance?%>
								<div> Blue</div>
					<%end%>		
		</div>
				
	
				
				
	<% end %>
	
<% end %>

</div>
<%end%>
</div>