<h1>Listing user product plan datas</h1>

<table>
  <tr>
    <th>User product</th>
    <th>Actul training date</th>
    <th>Actual distance</th>
    <th>Actual speed</th>
    <th>Actual time</th>
    <th>Actual notes</th>
	<th>Plan distance</th>
    <th>Plan speed</th>
    <th>Plan time</th>
    <th>Plan notes</th>	
  </tr>

<% @user_product_plan_datas.each do |user_product_plan_data| %>
  <tr>
    <td><%= user_product_plan_data.user_product_id %></td>
    <td><%= user_product_plan_data.actual_training_date %></td>
    <td><%= user_product_plan_data.actual_distance %></td>
    <td><%= user_product_plan_data.actual_speed %></td>
    <td><%= user_product_plan_data.actual_time %></td>
    <td><%= user_product_plan_data.actual_notes %></td>
    <td><%= user_product_plan_data.plan_distance %></td>
    <td><%= user_product_plan_data.plan_speed %></td>
    <td><%= user_product_plan_data.plan_time %></td>
    <td><%= user_product_plan_data.plan_notes %></td>	
    <td><%= link_to 'Show', user_product_plan_data %></td>
    <td><%= link_to 'Edit', edit_user_product_plan_data_path(user_product_plan_data) %></td>
    <td><%= link_to 'Destroy', user_product_plan_data, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User product plan data', new_user_product_plan_data_path %>
