<h1>Listing plan_values</h1>


<div style="height:400px;width:700px;font:16px/26px Georgia, Garamond,
 Serif;overflow:scroll;">
<table>
  <tr>
    <th>Product plan</th>
    <th>Day</th>
    <th>Distance</th>
    <th>Speed</th>
    <th>Time</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plan_values.each do |plan_value| %>
  <tr>
    <td><%= plan_value.product_plan_id %></td>
    <td><%= plan_value.day %></td>
    <td><%= plan_value.distance %></td>
    <td><%= plan_value.speed %></td>
    <td><%= plan_value.time %></td>
    <td><%= plan_value.notes %></td>
    <td><%= link_to 'Show', plan_value %></td>
    <td><%= link_to 'Edit', edit_plan_value_path(plan_value) %></td>
    <td><%= link_to 'Destroy', plan_value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

</div>

<br />

<%= render 'highchart'%>

<%= link_to 'New Plan value', new_plan_value_path %> |



<% if params[:product_id] %> 
<%= button_to "Get Started", add_new_user_product_plan_path, :method => :get %>
<% end %>

 