<br>
<b> PRODUCTS IN <%= @t_category.name %></b>
<br>
<%= form_tag  t_category_products_path, :method => "get" do %>
		<%= render 'shared/search_box' %>
<% end %>
<% @products.each do |product| %>
<div class="<%= cycle('marketingPanelPosition1', 'marketingPanelPosition2') %>">
	<p><%= product.name %>
	<%= image_tag(product.image_location)  %>
	<% if current_user %>
		<% if current_user.username == 'admin' %>
			<%= link_to 'Edit', edit_t_category_product_path(product.t_category_id, product.id) %>
			<%= link_to 'Delete', t_category_product_path(product.t_category_id, product.id),
				:confirm => 'Are you sure', :method => :delete %>
		<% end %>
	<% end %>
	</p>
	<div style="float: left; width: auto;">

    	<%= button_to 'Get started', add_new_user_product_plan_path(:product_id => product.id), :method => :get %> 
	</div>
	<% if PlanValue.find_by_product_plan_id()%>
    <div style="float: left; width: auto;">
	  <%= button_to 'More Info', plan_value_product_info_path(:product_plan_id => ProductPlan.find_all_by_product_id(product.id).first), :method => :get %>
	</div>

	<br>
</div>
<% end %>
<% if current_user %>
	<% if current_user.username == 'admin' %>
		<td><%= link_to 'Add Products', new_t_category_product_path(@t_category) %></td><br><br>
	<% end %>
<% end %>
<%= link_to 'Back to Modules', trackkr_modules_path %>