<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @share_dashboard.name %>
</p>

<p>
  <b>Email:</b>
  <%= @share_dashboard.email %>
</p>

<p>
  <b>Shared plan:</b>
  <%= @share_dashboard.shared_plan %>
</p>


<%= link_to 'Edit', edit_share_dashboard_path(@share_dashboard) %> |
<%= link_to 'Back', share_dashboards_path %>
