<div id="logInBox">
  <% if current_user %>
  	Welcome <%= current_user.username %><br>
    <%= link_to "Edit Profile", edit_user_path(:current) %> |
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Register", new_user_path %> |
<% form_for :user_session, :url => user_sessions_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <div class="field">
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </div>
  <%= link_to "Forgotten Password", new_password_reset_path%>
  <p><%= f.submit "Submit" %></p>
<% end %>
  <% end %>
</div>